In [23]:
import zipfile
import io
import pandas as pd
import datetime
import os
import requests
from google.protobuf.json_format import MessageToDict
from google.transit import gtfs_realtime_pb2

In [2]:
api_key = 'your-api-key'
operator='CT'
url = f'http://api.511.org/transit/datafeeds?api_key={api_key}&operator_id={operator}'

In [3]:
# # Download the GTFS zip file
# response = requests.get(url)
# response.raise_for_status()  # Ensure we got a successful response

# # Unzip the file
# zip_file = zipfile.ZipFile(io.BytesIO(response.content))
# zip_file.extractall('gtfs_data')  # Extract to a directory named 'gtfs_data'

# print("GTFS data downloaded and unzipped successfully.")

In [4]:
stop_times_path=os.path.join('gtfs_data','stop_times.txt')
stop_times = pd.read_csv(stop_times_path)

In [11]:
stop_times.loc[stop_times.trip_id==106]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
2024,106,6:37:00,6:37:00,70012,1,NaN,0,0,0.000000,1
2025,106,6:42:00,6:42:00,70022,2,NaN,0,0,2521.949349,1
2026,106,6:47:00,6:47:00,70032,3,NaN,0,0,7940.930345,1
2027,106,6:54:00,6:54:00,70042,4,NaN,0,0,14613.273616,1
2028,106,6:58:00,6:58:00,70052,5,NaN,0,0,17657.012020,1
2029,106,7:02:00,7:02:00,70062,6,NaN,0,0,21733.694554,1
2030,106,7:07:00,7:07:00,70082,7,NaN,0,0,26054.123259,1
2031,106,7:11:00,7:11:00,70092,8,NaN,0,0,28363.631173,1
2032,106,7:14:00,7:14:00,70102,9,NaN,0,0,30512.623298,1
2033,106,7:17:00,7:17:00,70112,10,NaN,0,0,31879.500939,1
2034,106,7:21:00,7:21:00,70122,11,NaN,0,0,35212.821105,1
2035,106,7:24:00,7:24:00,70132,12,NaN,0,0,37207.993175,1
2036,106,7:28:00,7:28:00,70142,13,NaN,0,0,40700.611297,1
2037,106,7:34:00,7:34:00,70162,14,NaN,0,0,46301.178009,1
2038,106,7:38:00,7:38:00,70172,15,NaN,0,0,48312.560324,1
2039,106,7:41:00,7:41:00,70192,16,NaN,0,0,50860.830229,1
2040,106,7:46:00,7:46:00,70202,17,NaN,0,0,54800.515340,1
2041,106,7:50:00,7:50:00,70212,18,NaN,0,0,57908.929615,1
2042,106,7:55:00,7:55:00,70222,19,NaN,0,0,62221.447035,1
2043,106,8:03:00,8:03:00,70232,20,NaN,0,0,65411.390808,1
2044,106,8:09:00,8:09:00,70242,21,NaN,0,0,71301.070940,1
2045,106,8:12:00,8:12:00,70252,22,NaN,0,0,73557.886207,1
2046,106,8:21:00,8:21:00,70262,23,NaN,0,0,75458.156284,1
2047,106,8:26:00,8:26:00,70272,24,NaN,0,0,78348.771720,1

In [10]:
stop_times.trip_id.unique()

array([307, 312, 309, 311, 313, 308, 310, 303, 305, 314, 302, 304, 306,
       301, 408, 401, 402, 404, 406, 412, 414, 407, 409, 411, 413, 415,
       403, 405, 410, 501, 502, 504, 506, 508, 510, 512, 514, 516, 518,
       503, 505, 507, 509, 511, 513, 515, 221, 225, 229, 233, 241, 249,
       257, 265, 273, 281, 224, 228, 232, 240, 248, 256, 264, 272, 280,
       284, 236, 244, 252, 260, 268, 276, 623, 625, 627, 631, 237, 245,
       253, 261, 269, 277, 101, 109, 111, 115, 119, 123, 127, 129, 131,
       133, 137, 141, 145, 103, 105, 107, 113, 117, 121, 125, 135, 139,
       143, 106, 104, 110, 114, 118, 122, 124, 126, 128, 130, 132, 134,
       138, 142, 146, 102, 108, 112, 116, 120, 136, 140, 144, 701, 703,
       705, 707, 709, 711, 708, 710, 712, 702, 704, 706])

In [44]:
# trip updates
url = f'http://api.511.org/transit/vehiclepositions?api_key={api_key}&agency={operator}'
response = requests.get(url)
response.raise_for_status()

In [45]:
# Parse the Protocol Buffer data
feed = gtfs_realtime_pb2.FeedMessage()
feed.ParseFromString(response.content)

# Convert to dictionary
data = MessageToDict(feed)

In [49]:
feed

header {
  gtfs_realtime_version: "1.0"
  incrementality: FULL_DATASET
  timestamp: 1720191792
}
entity {
  id: "106"
  vehicle {
    trip {
      trip_id: "106"
      route_id: "L1"
      direction_id: 1
    }
    position {
      latitude: 37.3704605
      longitude: -121.99604
    }
    timestamp: 1720191779
    vehicle {
      id: "106"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "107"
  vehicle {
    trip {
      trip_id: "107"
      route_id: "L1"
      direction_id: 0
    }
    position {
      latitude: 37.5899
      longitude: -122.36821
    }
    timestamp: 1720191779
    vehicle {
      id: "107"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "108"
  vehicle {
    trip {
      trip_id: "108"
      route_id: "L1"
      direction_id: 1
    }
    position {
      latitude: 37.5996094
      longitude: -122.386543
    }
    timestamp: 1720191779
    vehicle {
      id: "108"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "109"
  vehicle {
    trip {
      trip_id: "109"
      route_id: "L1"
      direction_id: 0
    }
    position {
      latitude: 37.3656082
      longitude: -121.964279
    }
    timestamp: 1720191779
    vehicle {
      id: "109"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "303"
  vehicle {
    trip {
      trip_id: "303"
      route_id: "L3"
      direction_id: 0
    }
    position {
      latitude: 37.4877815
      longitude: -122.234543
    }
    timestamp: 1720191779
    vehicle {
      id: "303"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "306"
  vehicle {
    trip {
      trip_id: "306"
      route_id: "L3"
      direction_id: 1
    }
    position {
      latitude: 37.7754784
      longitude: -122.395859
    }
    timestamp: 1720191779
    vehicle {
      id: "306"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "404"
  vehicle {
    trip {
      trip_id: "404"
      route_id: "L4"
      direction_id: 1
    }
    position {
      latitude: 37.4430389
      longitude: -122.164207
    }
    timestamp: 1720191779
    vehicle {
      id: "404"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "405"
  vehicle {
    trip {
      trip_id: "405"
      route_id: "L4"
      direction_id: 0
    }
    position {
      latitude: 37.3832283
      longitude: -122.044647
    }
    timestamp: 1720191779
    vehicle {
      id: "405"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "406"
  vehicle {
    trip {
      trip_id: "406"
      route_id: "L4"
      direction_id: 1
    }
    position {
      latitude: 37.7755089
      longitude: -122.395882
    }
    timestamp: 1720191779
    vehicle {
      id: "406"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "705"
  vehicle {
    trip {
      trip_id: "705"
      route_id: "B7"
      direction_id: 0
    }
    position {
      latitude: 37.3429298
      longitude: -121.915733
    }
    timestamp: 1720191779
    vehicle {
      id: "705"
      label: ""
      license_plate: ""
    }
  }
}
entity {
  id: "706"
  vehicle {
    trip {
      trip_id: "706"
      route_id: "B7"
      direction_id: 1
    }
    position {
      latitude: 37.775631
      longitude: -122.396049
    }
    timestamp: 1720191779
    vehicle {
      id: "706"
      label: ""
      license_plate: ""
    }
  }
}

In [46]:
data

{'header': {'gtfsRealtimeVersion': '1.0',
  'incrementality': 'FULL_DATASET',
  'timestamp': '1720191792'},
 'entity': [{'id': '106',
   'vehicle': {'trip': {'tripId': '106', 'routeId': 'L1', 'directionId': 1},
    'position': {'latitude': 37.37046, 'longitude': -121.99604},
    'timestamp': '1720191779',
    'vehicle': {'id': '106', 'label': '', 'licensePlate': ''}}},
  {'id': '107',
   'vehicle': {'trip': {'tripId': '107', 'routeId': 'L1', 'directionId': 0},
    'position': {'latitude': 37.5899, 'longitude': -122.36821},
    'timestamp': '1720191779',
    'vehicle': {'id': '107', 'label': '', 'licensePlate': ''}}},
  {'id': '108',
   'vehicle': {'trip': {'tripId': '108', 'routeId': 'L1', 'directionId': 1},
    'position': {'latitude': 37.59961, 'longitude': -122.38654},
    'timestamp': '1720191779',
    'vehicle': {'id': '108', 'label': '', 'licensePlate': ''}}},
  {'id': '109',
   'vehicle': {'trip': {'tripId': '109', 'routeId': 'L1', 'directionId': 0},
    'position': {'latitude': 37.36561, 'longitude': -121.96428},
    'timestamp': '1720191779',
    'vehicle': {'id': '109', 'label': '', 'licensePlate': ''}}},
  {'id': '303',
   'vehicle': {'trip': {'tripId': '303', 'routeId': 'L3', 'directionId': 0},
    'position': {'latitude': 37.48778, 'longitude': -122.23454},
    'timestamp': '1720191779',
    'vehicle': {'id': '303', 'label': '', 'licensePlate': ''}}},
  {'id': '306',
   'vehicle': {'trip': {'tripId': '306', 'routeId': 'L3', 'directionId': 1},
    'position': {'latitude': 37.77548, 'longitude': -122.39586},
    'timestamp': '1720191779',
    'vehicle': {'id': '306', 'label': '', 'licensePlate': ''}}},
  {'id': '404',
   'vehicle': {'trip': {'tripId': '404', 'routeId': 'L4', 'directionId': 1},
    'position': {'latitude': 37.44304, 'longitude': -122.16421},
    'timestamp': '1720191779',
    'vehicle': {'id': '404', 'label': '', 'licensePlate': ''}}},
  {'id': '405',
   'vehicle': {'trip': {'tripId': '405', 'routeId': 'L4', 'directionId': 0},
    'position': {'latitude': 37.38323, 'longitude': -122.04465},
    'timestamp': '1720191779',
    'vehicle': {'id': '405', 'label': '', 'licensePlate': ''}}},
  {'id': '406',
   'vehicle': {'trip': {'tripId': '406', 'routeId': 'L4', 'directionId': 1},
    'position': {'latitude': 37.77551, 'longitude': -122.39588},
    'timestamp': '1720191779',
    'vehicle': {'id': '406', 'label': '', 'licensePlate': ''}}},
  {'id': '705',
   'vehicle': {'trip': {'tripId': '705', 'routeId': 'B7', 'directionId': 0},
    'position': {'latitude': 37.34293, 'longitude': -121.91573},
    'timestamp': '1720191779',
    'vehicle': {'id': '705', 'label': '', 'licensePlate': ''}}},
  {'id': '706',
   'vehicle': {'trip': {'tripId': '706', 'routeId': 'B7', 'directionId': 1},
    'position': {'latitude': 37.77563, 'longitude': -122.39605},
    'timestamp': '1720191779',
    'vehicle': {'id': '706', 'label': '', 'licensePlate': ''}}}]}

In [47]:
data['entity'][0]

{'id': '106',
 'vehicle': {'trip': {'tripId': '106', 'routeId': 'L1', 'directionId': 1},
  'position': {'latitude': 37.37046, 'longitude': -121.99604},
  'timestamp': '1720191779',
  'vehicle': {'id': '106', 'label': '', 'licensePlate': ''}}}

In [48]:
vehicle_positions = []
for entity in data['entity']:
    if 'vehicle' in entity:
        vehicle = entity['vehicle']
        vehicle_positions.append({
            'trip_id': vehicle['trip']['tripId'],
            'route_id': vehicle['trip']['routeId'],
            'vehicle_id': vehicle['vehicle']['id'],
            'current_stop_sequence': vehicle.get('currentStopSequence', None),
            'current_status': vehicle.get('currentStatus', None),
            'timestamp': vehicle.get('timestamp', None),
            'latitude': vehicle['position']['latitude'],
            'longitude': vehicle['position']['longitude'],
            'bearing': vehicle['position'].get('bearing', None),
            'speed': vehicle['position'].get('speed', None),
        })

# Convert to DataFrame for easier manipulation
vehicle_positions_df = pd.DataFrame(vehicle_positions)

print(vehicle_positions_df.head())

  trip_id route_id vehicle_id current_stop_sequence current_status  \
0     106       L1        106                  None           None
1     107       L1        107                  None           None
2     108       L1        108                  None           None
3     109       L1        109                  None           None
4     303       L3        303                  None           None

    timestamp  latitude  longitude bearing speed
0  1720191779  37.37046 -121.99604    None  None
1  1720191779  37.58990 -122.36821    None  None
2  1720191779  37.59961 -122.38654    None  None
3  1720191779  37.36561 -121.96428    None  None
4  1720191779  37.48778 -122.23454    None  None